body{
    width:600px;
    margin: auto;
    background-color: black;
    color: white;
    font-family:'メイリオ', 'Meiryo', sans-serif;

}

h1{
    text-align: center;
}

#main {
    padding-bottom: 20px;
    border-bottom: 1px white solid;
}

#options li{
    margin: 10px 0;
}

#question, #answer{
    padding: 10px;
    margin: 10px 0;
    border: 1px solid white;
}

#question {
    height: calc(1.6em * 3);
}

#answer{
    height: calc(1.6em * 1);
    text-align: right;
}

